TENANT_ID=[TENANT_ID_OCULTO]
CLIENT_ID=[CLIENT_ID_OCULTO]
CLIENT_SECRET=[SECRET_KEY_OCULTA]
OLLAMA_URL=http://[IP_SERVIDOR_OLLAMA]:[PUERTO]/api/generate
SUPPORT_EMAIL=[CORREO_SOPORTE_IA]
ADMIN_EMAIL=[CORREO_ADMIN_OCULTO]
